<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template.html}">
<body>
<section layout:fragment="content">
<div class="container">
	<h3 class="text-center" th:text="#{chat.available.chatrooms}">Available Chat Rooms</h3>
	<hr />
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Connected Users</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="chatRoom : ${chatRooms}">
				<td th:text="${chatRoom.id}"></td>
				<td th:text="${chatRoom.name}"></td>
				<td th:text="${chatRoom.description}"></td>
				<td th:text="${#lists.size(chatRoom.connectedUsers)}"></td>
				<td><a th:href="|/chatroom/${chatRoom.id}|">Join</a></td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
		New chat room
	</button>
	<div class="modal fade" id="newChatRoomModal" tabindex="-1" aria-labelledby="newChatRoomModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<h4 class="modal-title" id="newChatRoomModalLabel">New Chat Room</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="newChatroomName" class="control-label">Name</label>
							<input type="text" class="form-control" id="newChatroomName" />
						</div>
						<div class="form-group">
							<label for="newChatRoomDescription" class="control-label">Description</label>
							<textarea class="form-control" id="newChatRoomDescription"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button id="btnCreateNewChatRoom" type="button"	onclick="createNewChatRoom()" class="btn btn-primary">Create</button>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<script layout:fragment="script">
	function createNewChatRoom() {
		var newChatRoomModal = $("#newChatRoomModal");
		var txtNewChatRoomName = $("#newChatroomName");
		var txtNewChatRoomDescription = $("#newChatRoomDescription");
		var newChatRoom = {
			'name' : txtNewChatRoomName.val(),
			'description' : txtNewChatRoomDescription.val()
		};
		$.ajax({
			type : "POST",
			url : "/chatroom",
			data : JSON.stringify(newChatRoom),
			contentType : "application/json",
			success : function(chatRoom) {
				var $tbody = $("tbody");
				var $tr = $("<tr />");
				$("<td />").text(chatRoom.id).appendTo($tr);
				$("<td />").text(chatRoom.name).appendTo($tr);
				$("<td />").text(chatRoom.description).appendTo($tr);
				$("<td />").text("0").appendTo($tr);
				var join = $('<a />', {
					"href" : "/chatroom/" + chatRoom.id,
					"text" : "Join"
				});
				$("<td />").append(join).appendTo($tr);
				$tr.appendTo($tbody);
				newChatRoomModal.modal('hide');
			},
		});
	}
</script>
</body>
</html>